{% extends 'gestao/base.html' %}

{% block title %}Deletar Conta{% endblock %}

{% block content %}
    <div class="form-container" style="text-align: center;">
        <form method="post">
            {% csrf_token %}
            <h2>Confirmar Exclusão</h2>
            <p>Você tem certeza que deseja deletar permanentemente a conta:</p>
            <h3 style="color: var(--cor-perigo);">"{{ conta.nome_conta }}" (R$ {{ conta.valor_total }})?</h3>
            <p><strong>Esta ação não pode ser desfeita.</strong></T>
            <hr>
            <button type="submit" class="btn btn-danger">Sim, tenho certeza</button>
            <a href="{% url 'gestao:dashboard' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}